/* ReviewCard.css */

.review-card {
    @apply flex flex-col 2xs:flex-row sm:flex-row md:flex-row xs:flex-row items-center p-4 2xs:p-0;
    justify-content: space-between;
}

.rating-container {
    @apply flex items-center justify-between w-full md:w-auto sm:w-auto xs:w-auto 2xs:w-auto;
}

.text-content {
    @apply flex flex-col mr-4 text-right;
}

.rating-label {
    @apply text-lg font-semibold 2xs:text-sm;
}

.review-count {
    @apply text-sm text-gray-500 2xs:text-2xs;
}

.radial-progress {
    @apply text-blue-500;
    --tw-value: 75;
    --tw-size: 3.5rem;
    --tw-thickness: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: var(--tw-size);
    height: var(--tw-size);
    border-width: var(--tw-thickness);
}

@media only screen and (max-width: 479px) {
    .radial-progress {
        --tw-size: 3rem;
        --tw-thickness: 0.335rem;
    }
}

.progress-value {
    @apply text-sm font-black text-blue-500;
}

.button-group {
    @apply flex flex-col space-y-2 sm:space-y-2  xl:w-full lg:w-full;
}

.people-button {
    @apply bg-purple-600 text-white py-1 px-4 rounded-xl w-full sm:w-auto xs:w-auto 2xs:w-auto 2xs:text-xs;
}

.details-button {
    @apply bg-gray-200 text-gray-800 py-1 px-4 rounded-xl w-full sm:w-auto xs:w-auto 2xs:w-auto 2xs:text-xs;
}
